.image1Icon {
    position: relative;
    border-radius: 6px;
    width: 52px;
    height: 47px;
    object-fit: cover;
  }
  .image1Parent,
  .neochat {
    display: flex;
    align-items: center;
  }
  .neochat {
    position: relative;
    font-weight: 500;
    width: 141px;
    height: 23px;
    flex-shrink: 0;
  }
  .image1Parent {
    flex-direction: row;
    justify-content: flex-start;
    gap: 12px;
  }
  .help,
  .privacy {
    position: relative;
    font-weight: 500;
    display: inline-block;
    width: 31px;
    height: 18px;
    flex-shrink: 0;
  }
  .privacy {
    width: 49px;
  }
  .frameParent,
  .helpParent {
    display: flex;
    flex-direction: row;
  }
  .helpParent {
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
  }
  .frameParent {
    align-self: stretch;
    align-items: center;
    justify-content: space-between;
  }
  .signupDekstopVerification2Inner {
    position: absolute;
    width: calc(100% - 151px);
    top: 20px;
    right: 76px;
    left: 75px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .loginIntoYou {
    position: relative;
    font-size: 24px;
    line-height: 150%;
    font-family: var(--font-aoboshi-one);
  }
  .icon {
    position: relative;
    width: 24px;
    height: 24px;
  }
  .stateLayer1 {
    flex-direction: row;
    padding: var(--padding-5xs);
  }
  .container,
  .leadingIcon,
  .stateLayer1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    border-radius: var(--br-81xl);
    overflow: hidden;
    flex-direction: row;
  }
  .leadingIcon {
    width: 48px;
    height: 48px;
    flex-direction: column;
  }
  .inputText1 {
    position: relative;
    letter-spacing: 0.5px;
    line-height: 24px;
    display: none;
  }
  .caretIcon {
    position: relative;
    width: 1px;
    height: 17px;
  }
  .inputText {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    z-index: 0;
  }
  .labelText1 {
    position: relative;
    line-height: 16px;
  }
  .labelText {
    margin: 0 !important;
    position: absolute;
    top: -16px;
    left: -36px;
    background-color: var(--m3-sys-light-surface);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 var(--padding-9xs);
    z-index: 1;
    font-size: var(--m3-body-small-size);
    color: var(--color-forestgreen);
  }
  .content {
    flex: 1;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
  }
  .stateLayer,
  .textField1 {
    align-self: stretch;
    display: flex;
    justify-content: flex-start;
  }
  .stateLayer {
    border-radius: var(--br-9xs) var(--br-9xs) 0 0;
    flex-direction: row;
    align-items: center;
    padding: var(--padding-9xs) var(--padding-base) var(--padding-9xs) 0;
  }
  .textField1 {
    border-radius: var(--br-9xs);
    border: 2px solid var(--color-forestgreen);
    flex-direction: column;
    align-items: flex-start;
  }
  .supportingText1 {
    flex: 1;
    position: relative;
    line-height: 16px;
    display: none;
  }
  .supportingText,
  .textField {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .supportingText {
    flex-direction: row;
    padding: var(--padding-9xs) var(--padding-base) 0;
    font-size: var(--m3-body-small-size);
    color: var(--m3-sys-light-on-surface-variant);
  }
  .textField {
    border-radius: var(--br-9xs) var(--br-9xs) 0 0;
    height: 56px;
    flex-direction: column;
    color: var(--m3-sys-light-on-surface);
  }
  .frameIcon {
    position: relative;
    width: 16px;
    height: 21px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .labelText3 {
    position: relative;
    letter-spacing: 0.5px;
    line-height: 24px;
  }
  .labelText2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .content1,
  .textField3 {
    display: flex;
    flex-direction: column;
  }
  .content1 {
    flex: 1;
    height: 40px;
    align-items: flex-start;
    justify-content: center;
  }
  .textField3 {
    border-radius: var(--br-9xs);
    border: 1px solid var(--m3-sys-light-outline);
  }
  .supportingText2,
  .textField2,
  .textField3 {
    align-self: stretch;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .supportingText2 {
    display: none;
    flex-direction: row;
    padding: var(--padding-9xs) var(--padding-base) 0;
    font-size: var(--m3-body-small-size);
  }
  .textField2 {
    border-radius: var(--br-9xs) var(--br-9xs) 0 0;
    height: 56px;
    display: flex;
    flex-direction: column;
    color: var(--m3-sys-light-on-surface-variant);
  }
  .labelText4 {
    position: relative;
    letter-spacing: 0.1px;
    line-height: 20px;
  }
  .button,
  .stateLayer4 {
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .stateLayer4 {
    flex: 1;
    flex-direction: row;
    padding: 10px 24px;
  }
  .button {
    border-radius: 5px;
    background-color: var(--color-forestgreen);
    height: 40px;
    overflow: hidden;
    flex-shrink: 0;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    color: var(--m3-sys-light-on-primary);
    border: 0
  }
  .dontHaveAn,
  .signup {
    position: relative;
    line-height: 150%;
    display: inline-block;
    width: 165px;
    flex-shrink: 0;
  }
  .signup {
    text-decoration: underline;
    width: 60px;
  }
  .dontHaveAnAccountParent,
  .loginIntoYouAccountParent {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dontHaveAnAccountParent {
    align-self: stretch;
    flex-direction: row;
    text-align: right;
  }
  .loginIntoYouAccountParent {
    position: absolute;
    height: calc(100% - 423px);
    top: 179px;
    bottom: 244px;
    left: calc(50% - 220px);
    border-radius: 10px;
    width: 441px;
    flex-direction: column;
    padding: 26px 38px;
    box-sizing: border-box;
    gap: 18px;
    font-size: var(--m3-body-large-size);
    color: var(--black);
    font-family: var(--m3-body-small);
  }
  .signupDekstopVerification2 {
    background-color: var(--m3-sys-light-on-primary);
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-smi);
    color: var(--color-gray-100);
    font-family: var(--font-dm-sans);
  }
  .materialTextField {
    position: relative;
    width: 100%;
  }
  
  .materialIcon {
    position: absolute;
    font-size: 1rem;
    left: 0.5rem; /* Adjust the left position as needed */
    top: 50%;
    transform: translateY(-50%);
    color: black;
    transition: .1s ease-out;
  }
  
  label {
    position: absolute;
    font-size: 1rem;
    left: 2.5rem; /* Adjust the left position as needed to create space for the icon */
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color: gray;
    padding: 0 0.3rem;
    transition: .1s ease-out;
    pointer-events: none;
    transform-origin: left top;
  }
  
  .alreadyAUserLoginParent,
  .signupIntoYouAccountParent {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .alreadyAUserLoginParent {
    align-self: stretch;
    flex-direction: row;
    gap: 3px;
    text-align: right;
  }
  .alreadyAUser,
  .login {
    position: relative;
    line-height: 150%;
  }
  .login {
    text-decoration: underline;
  }
  
  a:visited {
    color: black;
  }
  
  a:active {
    color: black;
  }
  
  .errorIcon {
    width: 50%;
  }
  
  .centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100% of the viewport height */
  }